body {
  background-color: #e0f2f1;
}

.ctrlqFormContentWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.ctrlqFormContentWrapper .ctrlqHeaderMast {
  height: 278px;
  background: #009688;
}
.ctrlqFormContentWrapper .ctrlqCenteredContent {
  margin: auto;
  width: 600px;
}
@media screen and (max-width: 576px) {
  .ctrlqFormContentWrapper .ctrlqCenteredContent {
    width: 80%;
    margin: 0 auto;
  }
}
.ctrlqFormContentWrapper .ctrlqCenteredContent .ctrlqFormCard {
  background-color: #fff;
  margin-bottom: 48px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  word-wrap: break-word;
}
.ctrlqFormContentWrapper .ctrlqCenteredContent .ctrlqFormCard:first-of-type {
  margin-top: -100px;
}
.ctrlqFormContentWrapper .ctrlqCenteredContent .ctrlqFormCard .ctrlqAccent {
  background-color: #a7ffeb;
  height: 8px;
}
.ctrlqFormContentWrapper .ctrlqCenteredContent .ctrlqFormCard .ctrlqFormContent {
  color: rgba(0, 0, 0, 0.87);
  padding: 20px 35px;
}
.ctrlqFormContentWrapper .ctrlqCenteredContent .ctrlqFormCard .ctrlqFormContent form .row .danger {
  color: red;
}

[type=radio]:not(:checked),
[type=radio]:checked {
  position: relative;
  left: 0;
  opacity: 1;
}